@import "tailwindcss";

@theme {
  --color-brand: #3b82f6; /* Example custom color for tags */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}