.container {
  max-width: 800px;
  margin: 40px auto;
  background:white;

  padding:40px;

  border-radius:16px;

  box-shadow:
  0 10px 30px rgba(0,0,0,.08);
}


.title {
  font-size:32px;
  margin-bottom:25px;
}


.text {
  font-size:18px;
  line-height:1.7;
  color:#374151;
}