.wrapper {

max-width:900px;

margin:0 auto;

padding:20px;

}



.back {

background:#2563eb;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

font-size:16px;

margin-bottom:20px;

transition:.2s;

}



.back:hover {

background:#1d4ed8;

transform:translateY(-2px);

}